@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{ font-family:  "Poppins", serif; font-weight: 400; font-style: italic;
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
 }
 .container{
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .logo{
    font-size: 30px;
    }
.header-txt{
    text-align: center;
    margin-bottom: 45px;
}
.header-txt h1{
    font-size: 100px;
    letter-spacing: 5px;  
    position: relative;
    left: 60px;
    text-transform: uppercase;
}
.header-txt samp{
    font-size: 90px;
    position: relative;
    left: 30px;
}
.header-txt p{
    font-size: 50px;
    padding: 0 250px;
    margin: 25px 0;
    position: relative;
    left: 40px;
}
.header-txt h1,samp,p {
    margin-bottom: 15px;
}
button{
    position: relative;
    left: 0px;
    border: 0;
    background-image: linear-gradient(
        150deg,
    #5c0341,
    #db4b6f,
    #d895ca
    );
    border-radius: 8px;
    display: flex;
    font-size: 50px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
button a {
    color: aliceblue;
}
button span{
    background-color: #d895ca;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}


button:hover span {
     background: none;
}
button:active {
    transform: scale(0.9);
}
.button-2{
    border: 0;
    background-image: linear-gradient(
        150deg,
    #5c0341,
    #db4b6f,
    #d895ca
    );
    border-radius: 8px;
    display: flex;
    font-size: 50px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
button-2 a {
    color: aliceblue;
}
button-2 span{
    background-color: #d895ca;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}


button-2:hover span {
     background: none;
}
button-2:active {
    transform: scale(0.9);}
.header-dir{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.dir h3{
    font-size: 40px;
}
.dir p{
    font-size: 22px;
    text-transform: uppercase;
}
.prices{
    display: flex;
    width: 100%;
    padding: 50px 50px 50px 0px;
    font-size: 40px;
}

.table{
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
th{
    padding-bottom: 15px;
}
td{
    color: #dd0606;
}

@media(max-width: 960px){
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 5px 1px 5px 1px;
    }
    
    .header-txt{
        margin-bottom: 6px;
    }
    
    .header-txt h1{
        font-size: 35px;
        margin-right: 70px;
        margin-left: 0px;
    }
    
    .header-txt samp {
        font-size: 45px;
        margin-right: 45px;
    }
    
    
    .header-txt p {
        padding: 0;
        margin: 15px 0;
        font-size: 25px;
        margin-right: 60px;
    } 
    
    .header-dir{
        flex-direction: column;
    }
    
    .dir p {
        font-size: 18px;
    }
    
    
    .prices tr{
        font-size: 35px;
    }
    
    


}
